<% include header.ejs %>

<div class="window" style="background-color: #a9b4bc;">
    <img src="/images/home.png">
    <h1 class="info"><%= content %></h1>
    <div>
        <a href="/your-name-diary/diary" class="btn btn-primary" role="button">Diary List</a>
        <a href="/your-name-diary/newDiary" class="btn btn-primary" role="button">Create New Diary</a>
    </div>
</div>

<% include footer.ejs %>