<% include header.ejs %>

<div class="container">
    <h2>Create New Diary</h2>
    <form class="form-diary" method="POST" action="/your-name-diary/newDiary">
        <div>
            <label class="sr-only">标题</label>
            <input name="title" class="form-control" placeholder="标题" autofocus/>
        </div>

        <div style="margin-top:5px;">
            <textarea placeholder="写点什么" name="content" class="form-control" rows="20"></textarea>
        </div>

        <div style="margin-top:5px;">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>  

<% include footer.ejs %>